body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

table {
  margin-top: 7%;
  margin-left: 0%;
}
.pagee-footer {
  width: 100%;
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
#texto {
  padding-top: 2vw;
}
