body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.bt {
  padding: 7%;
  padding-left: 17%;
  
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
#texto {
  padding-top: 2vw;
}