body {display: flex;
      min-height:100vh;
      flex-direction: column;}

main {flex: 1 0 auto;}


.bt{
  
  margin-top: 12%;
  margin-left: 33%;
  

}
.bt1{
  width:50%;

  
}
.bt2{
  width:50%;
  margin-top: 2%;


}
.page-footer{
position: fixed;
	bottom:0;	
	width: 100%;
}

.section{
  padding-top:4vw;
  padding-bottom:4vw;
}
#texto{
  padding-top:2vw;
 
}